h1 {
    // text-align: center;
    padding: 8px;
}
textarea {
    margin: 8px;
    width: 98%;
    height: 120px;
}

button {
    margin: 8px;
    padding: 8px;
    font-size: large;
}

p {
    padding-left: 8px;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}